svg.ep-icon {
  --ep-icon-width: 1.5em;
  --ep-icon-height: 1.5em;
  --ep-icon-color: currentColor;
  --ep-icon-stroke-width: 1.5;
  display: inline-block;
  width: var(--ep-icon-width);
  height: var(--ep-icon-height);
  color: var(--ep-icon-color);
  vertical-align: middle;
  // Inherit to shapes by default
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--ep-icon-stroke-width);
}

// Explicitly filled shapes
.ep-icon [fill="currentColor"] {
  fill: currentColor;
  stroke: none;
}