$base-hue: 214 !default;
$base-saturation: 91% !default;
$base-lightness: 55% !default;
$modifications: (
  color-up-5: +5,
  color-up-10: +10,
  color-up-15: +15,
  color: 0,
  color-down-5: -5,
  color-down-10: -10,
  color-down-15: -15,
);

:root {

  // tints and shades for all modifications
  @each $name, $offset in $modifications {
    $adjusted-hue: $base-hue + $offset;

    @for $i from 1 through 5 {
      $tint-lightness: $base-lightness + (6 - $i) * 5%;
      $shade-lightness: $base-lightness - $i * 5%;
      --primary-#{$name}-#{$i}00: #{hsl($adjusted-hue, $base-saturation, $tint-lightness)};
      --primary-#{$name}-base: #{hsl($adjusted-hue, $base-saturation, $base-lightness)};
      --primary-#{$name}-#{$i + 5}00: #{hsl($adjusted-hue, $base-saturation, $shade-lightness)};
    }
  }

  // base color
  --primary-color-base: #{hsl($base-hue, $base-saturation, $base-lightness)};
}