:root {
  // interface
  --interface-bg: var(--gray-430);
  --interface-bg--accent: var(--gray-420);
  --interface-surface: var(--gray-440);
  --interface-surface--accent: var(--gray-420);
  --interface-foreground: var(--gray-430);
  --interface-foreground--accent: var(--gray-420);
  --interface-overlay: var(--gray-390);
  --interface-overlay--accent: var(--gray-380);
  // borders
  --border-color: var(--gray-380);
  --border-color--lighter: var(--gray-340);
  --border-color--disabled: var(--gray-400);
  // overlay
  --overlay-color: rgba(36, 36, 36, 0.85);
  // shadow
  // new
  --box-shadow-color: rgba(0,0,0,0.3);
  // old
  --drop-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  --drop-shadow--large: 0 2px 20px rgba(0, 0, 0, 0.5);
  --drop-shadow--large--north: 0 -10px 10px rgba(0,0,0,0.25);
  // text
  // --text-color: var(--gray-50);
  // new decreased contrast
  // --text-color: hsl(0 0% 67% / 1);
  // closest match for above
  --text-color: var(--gray-150);
  --text-color--disabled: var(--gray-130);
  --text-color--loud: var(--gray-50);
  --text-color--inverse: var(--interface-bg);
  --text-color--highlight: var(--yellow-600);
  --text-color--placeholder: var(--text-color--subtle);
  // --text-color--placeholder: red;
  // text gradient
  --text-gradient: linear-gradient(to right,
    hsl(17, 88%, 60%),
    hsl(275, 92%, 70%),
    hsl(180, 100%, 50%));
  // text color
  --text-color--primary: var(--blue-400);
  // subtle text
  --text-color--subtle: var(--gray-220);
  // text color disabled
  --text-color--disabled: var(--gray-300);
  // links
  --text-color--link: var(--sky-300);
  // danger
  --text-color--danger: var(--red-400);
  // warning
  --text-color--warning: var(--amber-500);
  // success
  --text-color--success: var(--green-600);
  // --text-color--success: var(--lime-500);
  // text selection color
  --text-selection: var(--yellow-600);
  // buttons
  --button-disabled--bg-color: var(--gray-400);
  --button-disabled--border-color: var(--4utton-disabled--bg-color);
  --button-disabled--text: var(--gray-270);
  --button-secondary--hover: var(--gray-410);
  --button-secondary--active: var(--gray-430);
  --button-ghost--hover: var(--gray-390);
  --button-ghost--active: var(--gray-500);
  --button-ghost--text: var(--text-color);
  --button-menu-item--hover: var(--color--primary);
  --button-menu-item--active: var(--primary-color--active);
  --button-menu-item-text-hover: var(--text--white);
  --button-menu-item-text-active: var(--text--white);
  // table
  --table-stripe-color: var(--interface-foreground);
  // toggle
  --toggle-track: var(--gray-400);
  --toggle-track-border: var(--border-color);
  --toggle-track--active: var(--emerald-500);
  --toggle-track-border--active: var(--emerald-500);
  --toggle-thumb: var(--gray-50);
  --toggle-thumb--active: var(--gray-50);
  --toggle-thumb--disabled: var(--gray-380);
  // chart sequence
  --chart-sequence-00: var(--violet-600);
  --chart-sequence-01: var(--sky-500);
  --chart-sequence-02: var(--teal-700);
  --chart-sequence-03: var(--pink-400);
  --chart-sequence-04: var(--red-500);
  --chart-sequence-05: var(--red-50);
  --chart-sequence-06: var(--green-400);
  --chart-sequence-07: var(--blue-500);
  --chart-sequence-08: var(--pink-600);
  --chart-sequence-09: var(--yellow-500);
  --chart-sequence-10: var(--teal-500);
  --chart-sequence-11: var(--sky-200);
  --chart-sequence-12: var(--amber-700);
  --chart-sequence-13: var(--purple-300);
  // alert colors
  --bg-color--alert-low: var(--gray-300);
  --bg-color--alert-medium: var(--yellow-400);
  --bg-color--alert-high: var(--amber-500);
  --bg-color--alert-critical: var(--red-500);
}