html[data-color-theme='light'] {
  // interface
  --interface-bg: hsl(var(--gray-60));
  --interface-bg--accent: hsl(var(--gray-50));
  --interface-surface: hsl(var(--gray-40));
  --interface-surface--accent: hsl(var(--gray-60));
  --interface-foreground: hsl(var(--gray-30));
  --interface-foreground--accent: hsl(var(--gray-20));
  --interface-overlay: hsl(var(--gray-20));
  --interface-overlay--accent: hsl(var(--gray-10));
  // borders
  --border-color: hsl(0, 0%, 75%);
  --border-color--lighter: var(--border-color);
  --border-color--disabled: hsl(var(--gray-70));
  // overlay
  --overlay-color: rgba(255, 255, 255, 0.85);
  // shadow
  // new
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  // old
  --drop-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  --drop-shadow--large: 0 2px 20px rgba(0, 0, 0, 0.15);
  --drop-shadow--large--north: 0 -10px 10px rgba(0, 0, 0, 0.15);
  // text
  --text-color: hsl(var(--gray-410));
  --text-color--disabled: hsl(var(--gray-270));
  --text-color--loud: hsl(var(--gray-500));
  --text-color--inverse: hsl(var(--gray-0));
  --text-color--highlight: var(--yellow-300);
  --text-color--placeholder: var(--text-color--subtle);
  // text gradient
  --text-gradient: linear-gradient(to right,
      hsl(17, 90%, 56%),
      hsl(275, 93%, 61%),
      hsl(205, 97%, 49%));
  // text color
  --text-color--primary: var(--blue-600);
  // subtle text
  --text-color--subtle: hsl(var(--gray-270));
  // text color disabled
  --text-color--disabled: hsl(var(--gray-170));
  // links
  --text-color--link: var(--sky-600);
  // danger
  --text-color--danger: var(--red-600);
  // warning
  --text-color--warning: var(--amber-600);
  // success
  --text-color--success: var(--green-700);
  // text selection color
  --text-selection: var(--yellow-300);
  // table
  --ep-table-row-stripe-color: var(--interface-foreground);
  --ep-table-row-hover-bg-color: hsl(var(--gray-10));
  // toggle
  --toggle-track: hsl(var(--gray-80));
  --toggle-track-border: var(--border-color);
  --toggle-track--active: var(--emerald-500);
  --toggle-track-border--active: var(--emerald-500);
  --toggle-thumb: hsl(var(--gray-0));
  --toggle-thumb--active: hsl(var(--gray-50));
  --toggle-thumb--disabled: hsl(var(--gray-50));
  // chart sequence
  // --chart-sequence-00: var(--violet-700);
  // --chart-sequence-01: var(--sky-500);
  // --chart-sequence-02: var(--teal-800);
  // --chart-sequence-03: var(--pink-800);
  // --chart-sequence-04: var(--red-500);
  // --chart-sequence-05: var(--red-900);
  // --chart-sequence-06: var(--green-700);
  // --chart-sequence-07: var(--blue-800);
  // --chart-sequence-08: var(--pink-500);
  // --chart-sequence-09: var(--yellow-600);
  // --chart-sequence-10: var(--teal-600);
  // --chart-sequence-11: var(--sky-900);
  // --chart-sequence-12: var(--amber-800);
  // --chart-sequence-13: var(--violet-400);
  // alert colors
  --bg-color--alert-low: hsl(var(--gray-130));
  --bg-color--alert-medium: var(--yellow-400);
  --bg-color--alert-high: var(--amber-500);
  --bg-color--alert-critical: var(--red-500);
}