:root {
  // interface
  --interface-bg: hsl(var(--gray-430));
  --interface-bg--accent: hsl(var(--gray-420));
  --interface-surface: hsl(var(--gray-440));
  --interface-surface--accent: hsl(var(--gray-420));
  --interface-foreground: hsl(var(--gray-430));
  --interface-foreground--accent: hsl(var(--gray-420));
  --interface-overlay: hsl(var(--gray-390));
  --interface-overlay--accent: hsl(var(--gray-380));
  // borders
  --border-color: hsl(var(--gray-380));
  --border-color--lighter: hsl(var(--gray-340));
  --border-color--disabled: hsl(var(--gray-400));
  // overlay
  --overlay-color: rgba(36, 36, 36, 0.85);
  // shadow
  // new
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  // old
  --drop-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  --drop-shadow--large: 0 2px 20px rgba(0, 0, 0, 0.5);
  --drop-shadow--large--north: 0 -10px 10px rgba(0, 0, 0, 0.25);
  // text
  // --text-color: hsl(var(--gray-50));
  // new decreased contrast
  // --text-color: hsl(0 0% 67% / 1);
  // closest match for above
  --text-color: hsl(var(--gray-150));
  --text-color--disabled: hsl(var(--gray-130));
  --text-color--loud: hsl(var(--gray-50));
  --text-color--inverse: var(--interface-bg);
  --text-color--highlight: var(--yellow-600);
  --text-color--placeholder: var(--text-color--subtle);
  // --text-color--placeholder: red;
  // text gradient
  --text-gradient: linear-gradient(to right,
      hsl(17, 88%, 60%),
      hsl(275, 92%, 70%),
      hsl(180, 100%, 50%));
  // text color
  --text-color--primary: var(--blue-400);
  // subtle text
  --text-color--subtle: hsl(var(--gray-220));
  // text color disabled
  --text-color--disabled: hsl(var(--gray-300));
  // links
  --text-color--link: var(--sky-300);
  // danger
  --text-color--danger: var(--red-400);
  // warning
  --text-color--warning: var(--amber-500);
  // success
  --text-color--success: var(--green-600);
  // --text-color--success: var(--lime-500);
  // text selection color
  --text-selection: var(--yellow-600);
  // table
  // --ep-table-row-stripe-color: var(--interface-foreground);
  // --ep-table-row-hover-bg-color: hsl(var(--gray-450));
  // toggle
  --toggle-track: hsl(var(--gray-400));
  --toggle-track-border: var(--border-color);
  --toggle-track--active: var(--emerald-500);
  --toggle-track-border--active: var(--emerald-500);
  --toggle-thumb: hsl(var(--gray-50));
  --toggle-thumb--active: hsl(var(--gray-50));
  --toggle-thumb--disabled: hsl(var(--gray-380));
  // chart sequence
  // --chart-sequence-00: var(--violet-600);
  // --chart-sequence-01: var(--sky-500);
  // --chart-sequence-02: var(--teal-700);
  // --chart-sequence-03: var(--pink-400);
  // --chart-sequence-04: var(--red-500);
  // --chart-sequence-05: var(--red-50);
  // --chart-sequence-06: var(--green-400);
  // --chart-sequence-07: var(--blue-500);
  // --chart-sequence-08: var(--pink-600);
  // --chart-sequence-09: var(--yellow-500);
  // --chart-sequence-10: var(--teal-500);
  // --chart-sequence-11: var(--sky-200);
  // --chart-sequence-12: var(--amber-700);
  // --chart-sequence-13: var(--purple-300);
  // alert colors
  --bg-color--alert-low: hsl(var(--gray-300));
  --bg-color--alert-medium: var(--yellow-400);
  --bg-color--alert-high: var(--amber-500);
  --bg-color--alert-critical: var(--red-500);
}