// global theme colors
:root {
  // b&w
  --black: #000;
  --white: #fff;
  // border radius
  --border-radius: 0.3rem;
  --border-radius--large: 0.6rem;
  // table
  --table-border-color: var(--border-color);
}