@import './minireset';

// @font-face {
//   font-family: 'GT America Condensed Regular';
//   src: url('../fonts/GT-America-Condensed-Regular.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'GT America Condensed Regular Italic';
//   src: url('../fonts/GT-America-Condensed-Regular-Italic.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'GT America Condensed Medium';
//   src: url('../fonts/GT-America-Condensed-Medium.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'GT America Condensed Medium Italic';
//   src: url('../fonts/GT-America-Condensed-Medium-Italic.woff2') format('woff2');
// }

@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('../fonts/Inter.var.woff2?v=3.19') format('woff2');
}

body {
  // font-family: 'GT America Condensed Regular';
  font-family: 'Inter var experimental';
  font-size: 13px;
  font-variation-settings: 'wght' 500;
  background: var(--background-level-1);
  color: var(--main-text);
}
