@mixin scrollable-container {
  -ms-overflow-style: none; // Internet Explorer, Edge
  scrollbar-width: none; // Firefox
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

// not currently using - kill if you don't add to it
@mixin control-defaults {
  user-select: none;
}
