html[data-color-theme='dark'] {
  // background
  --background-1: var(--gray-440);
  --background-2: var(--gray-430);
  --background-3: var(--gray-420);
  --background-4: var(--gray-390);

  // app header
  --app-header-background: var(--background-1);

  // borders
  --border-color: var(--gray-380);
  --border-color--lighter: var(--gray-340);

  // shadow
  --drop-shadow: 0 5px 8px rgba(0,0,0,0.2);

  // text
  --text-color: var(--gray-50);
  --text-color--disabled: var(--gray-130);
  --text-color-inverse: var(--background-1);

  // buttons
  --button-disabled--bg-color: var(--gray-400);
  --button-disabled--border-color: var(--4utton-disabled--bg-color);
  --button-disabled--text: var(--gray-270);

  --button-secondary--hover: var(--gray-410);
  --button-secondary--active: var(--gray-500);

  --button-naked--hover: var(--gray-390);
  --button-naked--active: var(--gray-500);
  --button-naked--text: var(--text-color);

  --button-menu-item--hover: hsl(228, 68%, 60%);
  --button-menu-item--active: hsl(228, 68%, 55%);
  --button-menu-item-text-hover: var(--text-color);

  // table
  --table-stripe-color: var(--gray-410);

  // navigation
  --nav-link-hover-bg-color: var(--gray-440);
  --nav-link-active-bg-color: linear-gradient(45deg, hsl(228, 68%, 60%) 50%, hsl(199, 77%, 55%) 100%); // same as light mode
  --nav-link-icon-color: hsl(228, 68%, 70%);
  --nav-link-active-icon-color: var(--text-color);
  --nav-link-active-text-color: var(--text-color);
}
