@import './theme--light';
@import './theme--dark';

// global theme colors (works no matter the theme)
:root {
  // primary
  --primary-color: var(--sky-500);
  --primary-color-text: var(--white);

  // utility
  --danger-red: #ff5b52;
  --warning-yellow: #ffcd03;
  --success-green: #98db75;

  // deprecated-ish
  // Ep's truest grayscale
  --white: #fff;
  --lightest-gray: #f9f9f9;
  --mid-light-gray: #f0f0f0;
  --light-gray: #eee;
  --medium-gray: #e3e3e3;
  --gray: #bdbdbd;
  --dark-gray: #757575;
  --darkest-gray: #424242;
  --text-black: #303030;
  --black: #000;
}
