html[data-color-theme='dark'] {
  // background
  --background: var(--gray-440);
  --background-image: url('../../components/Insight/background-dark.jpg');

  // app header
  --app-header-background: var(--gray-430);
  // --app-header-background: #1c1f28;

  // components
  // --content-background: var(--gray-430);
  --content-background: var(--gray-430);
  --content-background--darker: var(--gray-440);
  --content-background--lighter: var(--gray-400);

  // borders
  --border-color: var(--gray-380);

  // foreground elements: buttons, menus, tooltips, etc
  --foreground: var(--gray-390);
  --foreground-border: var(--gray-340);
  --drop-shadow: 0 5px 8px rgba(0,0,0,0.2);

  // text
  --text-color: var(--gray-50);
  --text-color--disabled: var(--gray-130);
  --text-color-inverse: var(--background);

  // buttons
  --button-disabled--bg-color: var(--gray-400);
  --button-disabled--border-color: var(--button-disabled--bg-color);
  --button-disabled--text: var(--gray-270);

  --button-secondary--hover: var(--gray-410);
  --button-secondary--active: var(--gray-500);

  --button-naked--hover: var(--gray-390);
  --button-naked--active: var(--gray-500);
  --button-naked--text: var(--text-color);

  --button-menu-item--hover: hsl(228, 68%, 60%);
  --button-menu-item--active: hsl(228, 68%, 55%);
  --button-menu-item-text-hover: var(--text-color);

  // navigation
  --nav-link-hover-bg-color: var(--gray-440);
  --nav-link-active-bg-color: linear-gradient(45deg, hsl(228, 68%, 60%) 50%, hsl(199, 77%, 55%) 100%); // same as light mode
  --nav-link-icon-color: hsl(228, 68%, 70%);
  --nav-link-active-icon-color: var(--text-color);
  --nav-link-active-text-color: var(--text-color);
}
