:root {
  // background
  --background: var(--test-gray-10);

  // components
  --component-background: var(--test-gray-0);
  --component-background--lighter: #fff;

  // borders
  --border-color: var(--test-gray-70);

  // foreground elements
  --foreground: var(--test-gray-0);
  --foreground-border: var(--border-color);

  // text
  --text-color: var(--test-gray-410);
  --text-color-inverse: var(--test-gray-460);
}
