:root {
  // background
  --background: var(--gray-10);

  // components
  --component-background: var(--gray-0);
  --component-background--lighter: #fff;

  // borders
  --border-color: var(--gray-70);

  // foreground elements
  --foreground: var(--gray-0);
  --foreground-border: var(--border-color);

  // text
  --text-color: var(--gray-410);
  --text-color-inverse: var(--gray-0);

  // buttons
  --button-secondary--hover: var(--gray-40);
  --button-secondary--active: var(--gray-60);

  --button-naked--hover: var(--gray-40);
  --button-naked--active: var(--gray-60);
  --button-naked--text: var(--text-color);
}
