html {
  // font-size: 100%; // In most browsers, this defaults to 16 pixels
  // can use media queries to change base font size,
  // which will adjust all other font sizes
  @media (min-width: 768px) {
    //font-size: 112.5%; // = 18 pixels in most browsers
  }
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

:root {
  font-family: 'Inter var', sans-serif;
  font-size: 62.5%; // (62.5/100) * 16px = 10px
  --font-size--small: 1.2rem; // 12px
  --font-size--default: 1.3rem; // 13px
  --font-size--body: 1.5rem; // 15px
  --font-size--large: 2rem; // 20px
}

.font-size--small { font-size: var(--font-size--small); }
.font-size--default { font-size: var(--font-size--default); }
.font-size--body { font-size: var(--font-size--body); }
.font-size--large { font-size: var(--font-size--large); }

p.read-me {
  font-size: var(--font-size--body);
  line-height: 1.5em;
  & + & {
    margin-top: 20px;
  }
}

.text--subtle {
  color: var(--text-subtle);
}