html {
  // font-size: 100%; // In most browsers, this defaults to 16 pixels
  // can use media queries to change base font size,
  // which will adjust all other font sizes
  @media (min-width: 768px) {
    //font-size: 112.5%; // = 18 pixels in most browsers
  }
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

:root {
  font-family: 'Inter var', sans-serif;
  font-size: 62.5%; // (62.5/100) * 16px = 10px
  --font-size--tiny: 1rem; // 10px
  --font-size--small: 1.2rem; // 12px
  --font-size--default: 1.3rem; // 13px
  --font-size--body: 1.5rem; // 15px
  --font-size--large: 2rem; // 20px
  --font-size--jumbo: 2.6rem; // 26px
}

.font-size--tiny {
  font-size: var(--font-size--tiny);
  font-variation-settings: 'wght' 600;
}
.font-size--small {
  font-size: var(--font-size--small);
  font-variation-settings: 'wght' 540;
}
.font-size--default {
  font-size: var(--font-size--default);
}
.font-size--body {
  font-size: var(--font-size--body);
  font-variation-settings: 'wght' 500;
}
.font-size--large {
  font-size: var(--font-size--large);
  font-variation-settings: 'wght' 400;
}
.font-size--jumbo {
  font-size: var(--font-size--jumbo);
  font-variation-settings: 'wght' 300;
}

// p.read-me {
//   font-size: var(--font-size--body);
//   line-height: 1.5em;
//   & + & {
//     margin-top: 20px;
//   }
// }

.text--subtle {
  color: var(--text-subtle);
}

.tabular-numbers {
  font-feature-settings: "tnum";
}

.text-align--right {
  text-align: right;
}

p {
  max-width: 60rem;
  line-height: 1.6em;
}