// grayscale
$white: #fff;
$lightest-gray: #f9f9f9;
$light-gray: #eee;
$medium-gray: #e3e3e3;
$gray: #bdbdbd;
$dark-gray: #757575;
$darkest-gray: #424242;
$black: #000;

$danger-red: #ff5b52;
$warning-yellow: #ffcd03;
$success-green: #98db75;

$blue: #0889F4;
$green: #15CA7E;

$base-colors: (
  'red': #f56565,
  'orange': #ed8936,
  'yellow': #ecc94b,
  'green': #48bb78,
  'teal': #38b2ac,
  'blue': #4299e1,
  'indigo': #667eea,
  'purple': #9f7aea,
  'pink': #ed64a6
);