@import './minireset';
@import './color';
@import './themes';
@import './type';


body {
  font-size: var(--font-size--default);
  font-variation-settings: 'wght' 500;
  // Stylistic set 2: Disambiguation
  // font-feature-settings: 'ss02';
  background: var(--background-level-1);
  color: var(--main-text);
}
