.sb-show-main {
  -ms-overflow-style: none; // Internet Explorer, Edge
  scrollbar-width: none; // Firefox
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

.sb-show-main.sb-main-centered {
  // margin: 0;
  // padding: 0;
  #root {
    width: 100%;
    // margin: 0;
    padding: 0;
  }
}