:root {
  --ep-focus-outline-color: var(--primary-color-base);
  --ep-focus-outline-width: 2px;
  --ep-focus-outline-offset: 2px;
  --ep-default-focus-outline: var(--ep-focus-outline-width) solid var(--ep-focus-outline-color);
}

input,
textarea,
select,
button,
a,
summary,
[tabindex]:not([tabindex="-1"]),
[role="button"],
[role="link"],
[role="menuitem"] {
  &:focus-visible {
    outline: var(--ep-default-focus-outline);
    outline-offset: var(--ep-focus-outline-offset);
  }
}

details[open] > summary:focus-visible {
  outline: var(--ep-default-focus-outline);
  outline-offset: var(--ep-focus-outline-offset);
}