:root {
  --box-shadow--modal: 0 10px 10px var(--box-shadow-color);
  --box-shadow--tooltip: 0 5px 10px var(--box-shadow-color);
  --box-shadow--dropdown: 0 5px 10px var(--box-shadow-color);
  --box-shadow--sticky: 0 2px 10px var(--box-shadow-color);
  --box-shadow--overlap: 0 2px 5px var(--box-shadow-color);
}
