.status-dot {
  position: relative;
  padding-left: 1.4rem;

  &::before {
    position: absolute;
    top: calc(50% - 0.4rem);
    left: 0;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    content: '';
  }

  &--active::before {
    background: var(--green-300);
  }

  &--inactive::before, &--deactivated::before {
    background: var(--bg-color--alert-medium);
  }

  &--archived::before {
    background: var(--bg-color--alert-low);
  }
}