info/
node_modules/
storybook-static/
storybook-react-static/
docs/.vitepress/cache/
docs/.vitepress/dist/
packages/epicenter-vue-components/dist/

# icons package
packages/epicenter-icons/cleaned_svgs/
packages/epicenter-icons/downloaded_svgs/
packages/epicenter-icons/scripts/download_notes.txt