@use '../packages/epicenter-styles/scss/mixins/_generate-color-variants.scss' as *;
// define your primary color's hue, saturation, and lightness here
// and variants will be generated for you
$primary-color-hue: 214;
$primary-color-saturation: 91%;
$primary-color-lightness: 55%;

:root {
  @include generate-color-variants($primary-color-hue, $primary-color-saturation, $primary-color-lightness);
  --gradient-bg: radial-gradient(circle 200px at -5% -10%, hsl(60, 100%, 50%), transparent),
    linear-gradient(130deg, hsl(164, 93%, 50%) 0%, var(--primary-color-base) 79%);
  // global overrides - dark theme
  // --ep-tabs-active-border-color: yellow;
  // --ep-banner-color-strip-bg: orange;
  // --ep-button-bg-color: green;
  // --ep-radio-checked-color: orange;
  --primary-gradient: linear-gradient(140deg, var(--primary-color-base) 30%, var(--primary-color-down-10-base) 70%);
  --text-selection-bg-color: var(--primary-color-base);
  --text-selection-text-color: hsl(var(--gray-0));

  .ep-badge--success {
    --ep-badge-bg-color: hsl(var(--emerald-1000));
    --ep-badge-border-color: hsl(var(--emerald-600));
    --ep-badge-text-color: var(--text-color--loud);
  }

  .ep-badge--warning {
    --ep-badge-bg-color: hsl(var(--yellow-1000));
    --ep-badge-border-color: hsl(var(--yellow-600));
    --ep-badge-text-color: var(--text-color--loud);
  }
}

html[data-color-theme='light'] {

  // global overrides - light theme
  .ep-badge--success {
    --ep-badge-bg-color: hsl(81, 58%, 80%);
    --ep-badge-border-color: hsl(var(--emerald-800));
    --ep-badge-text-color: var(--text-color--loud);
  }

  .ep-badge--warning {
    --ep-badge-bg-color: hsl(32, 68%, 83%);
    --ep-badge-border-color: hsl(var(--orange-800));
    --ep-badge-text-color: var(--text-color--loud);
  }
}

.badge-variant-primary {
  --ep-badge-bg-color: var(--primary-gradient);
  --ep-badge-border-color: var(--primary-color-600);
  --ep-badge-text-color: var(--text-color--loud);
}

.badge-variant-success {
  --ep-badge-bg-color: hsl(var(--emerald-600));
  --ep-badge-border-color: hsl(var(--emerald-600));
  --ep-badge-text-color: var(--text-color--loud);
}

.badge-variant-warning {
  --ep-badge-bg-color: hsl(29, 72%, 61%);
  --ep-badge-border-color: hsl(29, 72%, 61%);
  --ep-badge-text-color: hsl(0, 77%, 12%);
}

.badge-variant-danger {
  --ep-badge-bg-color: hsl(var(--rose-600));
  --ep-badge-border-color: hsl(var(--rose-600));
  --ep-badge-text-color: var(--text-color--loud);
}

.ep-button-variant-subtle-ghost {
  --ep-button-bg-color: transparent;
  --ep-button-border-color: transparent;
  --ep-button-text-color: hsl(var(--gray-350));
  --ep-button-hover-bg-color: transparent;
  --ep-button-hover-border-color: transparent;
  --ep-button-hover-text-color: var(--text-color--loud);
  --ep-button-active-bg-color: transparent;
  --ep-button-active-border-color: transparent;
  --ep-button-active-text-color: var(--text-color--loud);
}

// custom button variants
.button-variant-primary {
  --ep-button-bg-color: var(--primary-gradient);
  --ep-button-border-color: var(--primary-color-base);
  --ep-button-text-color: white;
  --ep-button-hover-bg-color: var(--primary-color-600);
  --ep-button-hover-border-color: var(--primary-color-600);
  --ep-button-hover-text-color: white;
  --ep-button-active-bg-color: var(--primary-color-700);
  --ep-button-active-border-color: var(--primary-color-700);
  --ep-button-active-text-color: white;
}

.button-variant-success {
  --ep-button-bg-color: hsl(var(--emerald-600));
  --ep-button-border-color: hsl(var(--emerald-600));
  --ep-button-text-color: white;
  --ep-button-hover-bg-color: hsl(var(--emerald-700));
  --ep-button-hover-border-color: hsl(var(--emerald-700));
  --ep-button-hover-text-color: white;
  --ep-button-active-bg-color: hsl(var(--emerald-800));
  --ep-button-active-border-color: hsl(var(--emerald-800));
  --ep-button-active-text-color: white;
}

.button-variant-warning {
  --ep-button-bg-color: hsl(29, 72%, 61%);
  --ep-button-border-color: hsl(29, 72%, 61%);
  --ep-button-text-color: hsl(0, 77%, 12%);
  --ep-button-hover-bg-color: hsl(29, 72%, 51%);
  --ep-button-hover-border-color: hsl(29, 72%, 51%);
  --ep-button-hover-text-color: hsl(0, 77%, 12%);
  --ep-button-active-bg-color: hsl(29, 72%, 41%);
  --ep-button-active-border-color: hsl(29, 72%, 41%);
  --ep-button-active-text-color: hsl(0, 77%, 12%);
}

.button-variant-danger {
  --ep-button-bg-color: hsl(var(--rose-600));
  --ep-button-border-color: hsl(var(--rose-600));
  --ep-button-text-color: white;
  --ep-button-hover-bg-color: hsl(var(--rose-700));
  --ep-button-hover-border-color: hsl(var(--rose-700));
  --ep-button-hover-text-color: white;
  --ep-button-active-bg-color: hsl(var(--rose-800));
  --ep-button-active-border-color: hsl(var(--rose-800));
  --ep-button-active-text-color: white;
}