@use '@ericpitcock/epicenter-styles/mixins/_generate-color-variants.scss' as *;
$primary-lightness: 0.60;
$primary-chroma: 0.2;
$primary-hue: 257deg;

:root {
  @include generate-color-variants($primary-lightness, $primary-chroma, $primary-hue);
  --gradient-bg: radial-gradient(circle 200px at -5% -10%, hsl(60, 100%, 50%), transparent),
    linear-gradient(130deg, hsl(164, 93%, 50%) 0%, var(--primary-color-base) 79%);
  --primary-gradient: linear-gradient(140deg, var(--primary-color-base) 30%, var(--primary-color-down-10-base) 70%);
  --text-selection-bg-color: var(--primary-color-base);
  --text-selection-text-color: hsl(var(--gray-0));

  .ep-badge--success {
    --ep-badge-bg-color: hsl(var(--emerald-1000));
    --ep-badge-border-color: hsl(var(--emerald-600));
    --ep-badge-text-color: var(--text-color--loud);
  }

  .ep-badge--warning {
    --ep-badge-bg-color: hsl(var(--yellow-1000));
    --ep-badge-border-color: hsl(var(--yellow-600));
    --ep-badge-text-color: var(--text-color--loud);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color--loud);
  }
}

html[data-color-theme='light'] {
  .ep-table {
    --ep-table-row-hover-bg-color: hsl(var(--gray-60));
  }

  // global overrides - light theme
  .ep-badge--success {
    --ep-badge-bg-color: hsl(81, 58%, 80%);
    --ep-badge-border-color: hsl(var(--emerald-800));
    --ep-badge-text-color: var(--text-color--loud);
  }

  .ep-badge--warning {
    --ep-badge-bg-color: hsl(32, 68%, 83%);
    --ep-badge-border-color: hsl(var(--orange-800));
    --ep-badge-text-color: var(--text-color--loud);
  }

  .ep-button {
    --ep-button-menu-item-active-text-color: var(--text-color--inverse);
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
}

:root {
  font-family: 'InterVariable', sans-serif;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

.monospace {
  font-family: 'Fira Code', monospace;
  font-variation-settings: 'wght' 500;
}

.badge-variant-primary {
  --ep-badge-bg-color: var(--primary-gradient);
  --ep-badge-border-color: var(--primary-color-600);
  --ep-badge-text-color: var(--text-color--loud);
}

.badge-variant-success {
  --ep-badge-bg-color: hsl(var(--emerald-600));
  --ep-badge-border-color: hsl(var(--emerald-600));
  --ep-badge-text-color: var(--text-color--loud);
}

.badge-variant-warning {
  --ep-badge-bg-color: hsl(29, 72%, 61%);
  --ep-badge-border-color: hsl(29, 72%, 61%);
  --ep-badge-text-color: hsl(0, 77%, 12%);
}

.badge-variant-danger {
  --ep-badge-bg-color: hsl(var(--rose-600));
  --ep-badge-border-color: hsl(var(--rose-600));
  --ep-badge-text-color: var(--text-color--loud);
}

.ep-container-default {
  --ep-container-max-width: 120rem;
  --ep-container-padding: 0 3rem;
  --ep-container-bg-color: var(--interface-surface);
  --ep-container-border-width: 0.1rem;
  --ep-container-content-padding: 3rem 0;
}

.ep-menu-default {
  --ep-menu-bg-color: var(--interface-overlay);
  --ep-menu-border-color: var(--border-color--lighter);
  --ep-menu-border-radius: var(--border-radius);
  --ep-menu-divider-border-color: var(--border-color--lighter);
}