@use '../packages/epicenter-styles/scss/mixins/_generate-color-variants.scss' as *;
// define your primary color's hue, saturation, and lightness here
// and variants will be generated for you
$primary-color-hue: 214;
$primary-color-saturation: 91%;
$primary-color-lightness: 55%;

:root {
  @include generate-color-variants($primary-color-hue, $primary-color-saturation, $primary-color-lightness);
  --gradient-bg: radial-gradient(circle 200px at -5% -10%, hsl(60, 100%, 50%), transparent),
    linear-gradient(130deg, hsl(164, 93%, 50%) 0%, var(--primary-color-base) 79%);
  // global overrides - dark theme
  // --ep-tabs-active-border-color: yellow;
  // --ep-banner-color-strip-bg: orange;
  // --ep-button-bg-color: green;
}

html[data-color-theme='light'] {
  // global overrides - light theme
}