@use './app.scss';
@use '../packages/epicenter-icons/base.scss';

// decorator classes
.decorator {
  width: 100%;
  height: 100%;
  min-height: 100%;

  &--padded {
    padding: 3rem;
  }

  &--centered {
    display: grid;
    place-content: center;
  }

  &--overflow {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  &--surface {
    background: var(--interface-surface);
  }

  &--bg {
    background: var(--interface-bg);
  }

  &--gradient-bg {
    background: var(--gradient-bg);
  }
}

// storybook hacks
.sb-show-main {
  overflow-y: scroll;
  -ms-overflow-style: none; // Internet Explorer, Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

#storybook-preview-iframe {
  height: 100vh;
  width: 100vw;
}

.sb-show-main {
  height: 100vh;
  width: 100vw;
  background-color: var(--interface-bg);

  #storybook-root {
    height: 100vh;
    width: 100vw;
  }
}

.sb-show-main.sb-main-centered {
  #root {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
}

// for overlays in the EpNotificationCenter story
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  z-index: var(--z-index--tooltip);
}