// app
@import './app.scss';

// storybook hacks
.sb-show-main {
  overflow-y: scroll;
  -ms-overflow-style: none; // Internet Explorer, Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

#storybook-preview-iframe {
  height: 100vh;
  width: 100vw;
}

.sb-show-main {
  height: 100vh;
  width: 100vw;
  background-color: var(--interface-bg);

  #storybook-root {
    height: 100vh;
    width: 100vw;
  }
}

.sb-show-main.sb-main-centered {
  #root {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
}