.ep-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);

  input {
    flex: 1;
    height: 100%;
    padding: 0 1.2rem;

    &::placeholder {
      color: var(--text-color);
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &--has-icon input {
    padding-left: 0;
  }

  &--focus {
    border-color: var(--color--primary);
  }

  &--disabled {
    color: var(--text-color--disabled);
    border-color: var(--border-color--disabled);

    input::placeholder {
      opacity: 0.3;
    }
  }

  &__icon,
  &__clear {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__clear {
    cursor: pointer;

    &--disabled {
      cursor: default;
    }
  }
}