.ep-select {
  position: relative;
  display: flex;
  flex-direction: column;
  // font-size: var(--font-size--small);
  line-height: 1;
  background: var(--background-2);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;

  &--has-focus {
    border-color: var(--color--primary);
  }

  &__inner {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    pointer-events: none;

    // background: red;
    &__icon-left,
    &__icon-right {
      display: flex;
      justify-content: center;
      align-items: center;
      // background: black;
      // pointer-events: none;
    }

    &__label {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      flex: 1;
      display: flex;
      // justify-content: center;
      align-items: center;
      padding: 1.2rem;

      // line-height: 1.1;
      // pointer-events: none;
      // background: blue;
      .ep-select--has-value & {
        visibility: hidden;
      }

      .ep-select--has-icon & {
        padding-left: 0;
      }
    }
  }

  select {
    padding: 1.25rem 1.2rem;

    &:focus {
      outline: none;
    }

    &.select--has-icon {
      padding-left: 4rem;
    }
  }
}