.ep-banner {
  display: flex;
  width: 100%;
  max-width: 60rem;

  &__color-strip {
    width: .5rem;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: v-bind(colorStrip);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: var(--background-4);
    padding: 1.2rem 2rem;
    border: 1px solid var(--border-color--lighter);
    border-left: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    &__message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .25rem;
      height: 100%;

      &__text {
        line-height: var(--text-line-height--tight);
      }

      &__subtext {
        font-size: var(--font-size--tiny);
        color: var(--text-color--subtle);
      }
    }

    .dismiss-button {}
  }
}

.notification-enter-active,
.notification-leave-active {
  transition: transform .5s;
}

.notification-enter,
.notification-leave-to {
  transform: translateY(-200%);
}