.ep-action-bar {
  --ep-action-bar-width: 100%;
  --ep-action-bar-height: 100%;
  --ep-action-bar-gap: 0;
  --ep-action-bar-padding: 0;
  --ep-action-bar-flex-direction: row;
  --ep-action-bar-align-items: center;
  --ep-action-bar-justify-content: flex-start;
  --ep-action-bar-overflow: visible;

  display: flex;
  overflow: var(--ep-action-bar-overflow);
  width: var(--ep-action-bar-width);
  height: var(--ep-action-bar-height);
  flex-direction: var(--ep-action-bar-flex-direction);
  align-items: var(--ep-action-bar-align-items);
  justify-content: var(--ep-action-bar-justify-content);
  padding: var(--ep-action-bar-padding);
  gap: var(--ep-action-bar-gap);
}
