.ep-badge {
  --ep-badge-padding: var(--space--1) var(--space--2);
  --ep-badge-bg-color: var(--interface-overlay);
  --ep-badge-border-width: var(--border-width--hairline);
  --ep-badge-border-style: solid;
  --ep-badge-border-color: var(--border-color--lighter);
  --ep-badge-border-radius: var(--border-radius--default);
  --ep-badge-text-color: var(--text-color);
  --ep-badge-font-size: var(--font-size--tiny);
  --ep-badge-font-variation-settings: var(--font-weight--semi-bold);
  --ep-badge-line-height: normal;

  display: inline-block;
  padding: var(--ep-badge-padding);
  border-width: var(--ep-badge-border-width);
  border-style: var(--ep-badge-border-style);
  border-color: var(--ep-badge-border-color);
  border-radius: var(--ep-badge-border-radius);
  background: var(--ep-badge-bg-color);
  color: var(--ep-badge-text-color);
  font-size: var(--ep-badge-font-size);
  font-variation-settings: var(--ep-badge-font-variation-settings);
  line-height: var(--ep-badge-line-height);
  user-select: none;
  white-space: nowrap;
}
