.ep-button-group {
  --ep-button-group-active-text-color: var(--text-color--loud);
  --ep-button-group-inactive-text-color: var(--text-color);
  display: flex;

  .ep-button {
    &:not(:first-child) {
      margin-left: -0.1rem;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(.ep-button--disabled):not(.ep-button-group--selected) {
      color: var(--ep-button-group-inactive-text-color);
    }

    &.ep-button-group--selected {
      cursor: default;
      position: relative;
      z-index: var(--z-index--overlap);
    }
  }
}