.ep-button-group {
  --ep-button-group-active-text-color: var(--text-color--loud);
  --ep-button-group-inactive-text-color: var(--text-color--subtle);
  display: flex;

  > :not(:first-child) .ep-button {
    margin-left: -0.1rem;
  }

  > :first-child .ep-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  > :last-child .ep-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  > :not(:first-child):not(:last-child) .ep-button {
    border-radius: 0;
  }

  .ep-button {
    &:not(.ep-button--disabled):not(.ep-button-group--selected) {
      color: var(--ep-button-group-inactive-text-color);
    }

    &.ep-button-group--selected {
      position: relative;
      z-index: var(--z-index--overlap);
      cursor: default;
    }
  }
}