@use '../mixins/mixins' as *;

.ep-button {
  --ep-button-bg-color: var(--interface-foreground);
  --ep-button-text-color: var(--text-color--loud);
  --ep-button-font-size: var(--font-size--small);
  --ep-button-border-width: 0.1rem;
  --ep-button-border-style: solid;
  --ep-button-border-color: var(--border-color);
  --ep-button-border-radius: 0.3rem;
  --ep-button-hover-bg-color: var(--interface-foreground);
  --ep-button-hover-text-color: var(--text-color--loud);
  --ep-button-hover-border-color: var(--border-color);
  --ep-button-active-bg-color: var(--interface-foreground);
  --ep-button-active-text-color: var(--text-color);
  --ep-button-active-border-color: var(--border-color);
  --ep-button-selected-bg-color: var(--primary-color-up-15-base);
  --ep-button-selected-border-color: var(--primary-color-base);
  --ep-button-selected-text-color: var(--text-color--loud);
  --ep-button-disabled-bg-color: var(--interface-foreground);
  --ep-button-disabled-text-color: var(--text-color--disabled);
  --ep-button-disabled-border-color: var(--border-color--disabled);
  --ep-button-padding-inline: 1.2rem;
  --ep-button-gap: 0.6rem;
  display: inline-flex;
  max-width: max-content;
  height: 3rem;
  flex-shrink: 0;
  align-items: center;
  border-width: var(--ep-button-border-width);
  border-style: var(--ep-button-border-style);
  border-color: var(--ep-button-border-color);
  border-radius: var(--ep-button-border-radius);
  appearance: none;
  background: var(--ep-button-bg-color);
  color: var(--ep-button-text-color);
  cursor: pointer;
  font-size: var(--ep-button-font-size);
  gap: var(--ep-button-gap);
  line-height: 1;
  padding-inline: var(--ep-button-padding-inline);
  text-decoration: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;

  @include hover {
    &:not([class$='--selected']):not(.ep-button--disabled):hover {
      border-color: var(--ep-button-hover-border-color);
      background: var(--ep-button-hover-bg-color);
      color: var(--ep-button-hover-text-color);
    }
  }

  &:not([class$='--selected']):active {
    border-color: var(--ep-button-active-border-color);
    background: var(--ep-button-active-bg-color);
    color: var(--ep-button-active-text-color);
  }

  &--disabled {
    border-color: var(--ep-button-disabled-border-color);
    background: var(--ep-button-disabled-bg-color);
    color: var(--ep-button-disabled-text-color);
    pointer-events: none;
  }

  &--selected {
    border-color: var(--ep-button-selected-border-color);
    background: var(--ep-button-selected-bg-color);
    color: var(--ep-button-selected-text-color);
  }

  &__icon {
    display: inline-flex;
    height: 70%;
    max-height: 2.4rem;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  &__label {
    flex: 1;
    line-height: 2rem;
    pointer-events: none;
    text-align: left;
  }

  // default 30px height
  // icon only (no label)
  &:not(:has(.ep-button__label)) {
    --ep-button-padding-inline: 0.8rem;
  }

  // label only (no icons)
  &:has(.ep-button__label):not(:has(.ep-button__icon)) {
    --ep-button-padding-inline: 1.2rem;
  }

  // icon left and label
  &:has(.ep-button__label):has(.ep-button__icon--left):not(:has(.ep-button__icon--right)) {
    --ep-button-padding-inline: 0.8rem 1.2rem;
  }

  // icon right and label
  &:has(.ep-button__label):has(.ep-button__icon--right):not(:has(.ep-button__icon--left)) {
    --ep-button-padding-inline: 1.2rem 0.8rem;
  }

  // icon left, icon right, and label
  &:has(.ep-button__label):has(.ep-button__icon--left):has(.ep-button__icon--right) {
    --ep-button-padding-inline: 0.8rem;
  }
}

// small 22px height
.ep-button--small {
  --ep-button-font-size: var(--font-size--tiny);
  --ep-button-gap: 0.4rem;
  height: 2.2rem;

  // padding
  // icon only (no label)
  &:not(:has(.ep-button__label)) {
    --ep-button-padding-inline: 0.3rem;
  }

  // label only (no icons)
  &:has(.ep-button__label):not(:has(.ep-button__icon)) {
    --ep-button-padding-inline: 0.6rem;
  }

  // icon left and label
  &:has(.ep-button__label):has(.ep-button__icon--left):not(:has(.ep-button__icon--right)) {
    --ep-button-padding-inline: 0.3rem 0.6rem;
  }

  // icon right and label
  &:has(.ep-button__label):has(.ep-button__icon--right):not(:has(.ep-button__icon--left)) {
    --ep-button-padding-inline: 0.6rem 0.3rem;
  }

  // icon left, icon right, and label
  &:has(.ep-button__label):has(.ep-button__icon--left):has(.ep-button__icon--right) {
    --ep-button-padding-inline: 0.3rem;
  }
}

// large 38px height
.ep-button--large {
  --ep-button-font-size: var(--font-size--default);
  --ep-button-gap: 0.8rem;
  // max-height: 3.8rem;
  height: 3.8rem;

  // padding
  // icon only (no label)
  &:not(:has(.ep-button__label)) {
    --ep-button-padding-inline: 1rem;
  }

  // label only (no icons)
  &:has(.ep-button__label):not(:has(.ep-button__icon)) {
    --ep-button-padding-inline: 1.4rem;
  }

  // icon left and label
  &:has(.ep-button__label):has(.ep-button__icon--left):not(:has(.ep-button__icon--right)) {
    --ep-button-padding-inline: 1rem 1.4rem;
  }

  // icon right and label
  &:has(.ep-button__label):has(.ep-button__icon--right):not(:has(.ep-button__icon--left)) {
    --ep-button-padding-inline: 1.4rem 1rem;
  }

  // icon left, icon right, and label
  &:has(.ep-button__label):has(.ep-button__icon--left):has(.ep-button__icon--right) {
    --ep-button-padding-inline: 1rem;
  }
}

// xlarge 46px height
.ep-button--xlarge {
  --ep-button-font-size: var(--font-size--body);
  --ep-button-gap: 1rem;
  // max-height: 4.6rem;
  height: 4.6rem;

  // padding
  // icon only (no label)
  &:not(:has(.ep-button__label)) {
    --ep-button-padding-inline: 1.2rem;
  }

  // label only (no icons)
  &:has(.ep-button__label):not(:has(.ep-button__icon)) {
    --ep-button-padding-inline: 1.8rem;
  }

  // icon left and label
  &:has(.ep-button__label):has(.ep-button__icon--left):not(:has(.ep-button__icon--right)) {
    --ep-button-padding-inline: 1.2rem 1.8rem;
  }

  // icon right and label
  &:has(.ep-button__label):has(.ep-button__icon--right):not(:has(.ep-button__icon--left)) {
    --ep-button-padding-inline: 1.8rem 1.2rem;
  }

  // icon left, icon right, and label
  &:has(.ep-button__label):has(.ep-button__icon--left):has(.ep-button__icon--right) {
    --ep-button-padding-inline: 1.2rem;
  }
}

// async/loading button pattern
.ep-button__async-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ep-button__async-text {
  transition: opacity 0.6s ease;
}

.ep-button__async-label--loading > .ep-button__async-text {
  opacity: 0;
}

.ep-button__async-loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
}

.ep-loader {
  width: 1em;
  height: 1em;
}