.ep-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  max-height: 3rem;
  border-radius: var(--ep-button-border-radius, 0.3rem);
  font-size: var(--font-size--small);
  line-height: 1;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  vertical-align: top;
  // replacing all the variants with custom properties
  background: var(--ep-button-bg-color, var(--interface-foreground));
  color: var(--ep-button-text-color, var(--text-color));
  border-width: var(--ep-button-border-width, 0.1rem);
  border-style: var(--ep-button-border-style, solid);
  border-color: var(--ep-button-border-color, var(--border-color));

  @media (hover: hover) {
    &:hover {
      background: var(--ep-button-hover-bg-color, var(--interface-foreground));
      color: var(--ep-button-hover-text-color, var(--text-color));
      border-color: var(--ep-button-hover-border-color, var(--border-color));
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--focus-color);
  }

  &:active {
    background: var(--ep-button-active-bg-color, var(--interface-foreground));
    color: var(--ep-button-active-text-color, var(--text-color));
    border-color: var(--ep-button-active-border-color, var(--border-color));
  }

  &--menu-item {
    width: 100%;
    padding-right: 2rem !important;
    padding-left: 2rem !important;

    &--active {
      background: var(--color--primary);
      color: var(--ep-button-menu-item-text-active);
    }
  }

  &--outlined {
    background: transparent;
  }

  &--disabled {
    background: var(--ep-button-disabled-bg-color, var(--interface-foreground));
    color: var(--ep-button-disabled-text-color, var(--text-color));
    border-color: var(--ep-button-disabled-border-color, var(--border-color));
    pointer-events: none;
    cursor: default;

    &.ep-button--ghost,
    &.ep-button--menu-item {
      border-color: transparent;
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__label {
    flex: 1;
    text-align: left;
    pointer-events: none;
    line-height: 2rem;
  }

  // padding
  // has only one child and it's an icon
  &:has(:only-child):has(.ep-button__icon) {
    padding: 0.4rem 0.8rem;
  }

  // has only one child and it's a label
  &:has(:only-child):has(.ep-button__label) {
    padding: 0.4rem 1.2rem;
  }

  // has two children, one icon left and one label
  &:has(.ep-button__icon--left):has(.ep-button__label) {
    padding: 0.4rem 1.2rem 0.4rem 0.8rem;
  }

  // has two children, one icon right and one label
  &:has(.ep-button__icon--right):has(.ep-button__label) {
    padding: 0.4rem 0.8rem 0.4rem 1.2rem;
  }

  // has icon left, icon right, and label
  &:has(.ep-button__icon--left):has(.ep-button__icon--right):has(.ep-button__label) {
    padding: 0.4rem 0.8rem;
  }

  // default 30px height
  // padding: 0.8rem 1.2rem;
  // sizes
  // small 22px height
  &--small {
    gap: 0.4rem;
    max-height: 2.2rem;

    .ep-button__label {
      font-size: var(--font-size--tiny);
    }

    // padding
    // has only one child and it's an icon
    &:has(:only-child):has(.ep-button__icon) {
      padding: 0 0.3rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-only {
      padding: 0 0.3rem;
    }

    // has only one child and it's a label
    &:has(:only-child):has(.ep-button__label) {
      padding: 0 0.6rem;
    }

    // firefox doesn't support :has
    &.ep-button--label-only {
      padding: 0 0.6rem;
    }

    // has two children, one icon left and one label
    &:has(.ep-button__icon--left):has(.ep-button__label) {
      padding: 0 0.6rem 0 0.3rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left {
      padding: 0 0.6rem 0 0.3rem;
    }

    // has two children, one icon right and one label
    &:has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 0 0.3rem 0 0.6rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-right {
      padding: 0 0.3rem 0 0.6rem;
    }

    // has icon left, icon right, and label
    &:has(.ep-button__icon--left):has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 0 0.6rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left-right {
      padding: 0 0.6rem;
    }
  }

  // large 38px height
  &--large {
    max-height: 3.8rem;

    .ep-button__label {
      font-size: var(--font-size--default);
    }

    // padding
    // has only one child and it's an icon
    &:has(:only-child):has(.ep-button__icon) {
      padding: 0.8rem 1rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-only {
      padding: 0.8rem 1rem;
    }

    // has only one child and it's a label
    &:has(:only-child):has(.ep-button__label) {
      padding: 0.8rem 1.5rem;
    }

    // firefox doesn't support :has
    &.ep-button--label-only {
      padding: 0.8rem 1.5rem;
    }

    // has two children, one icon left and one label
    &:has(.ep-button__icon--left):has(.ep-button__label) {
      padding: 0.8rem 1.5rem 0.8rem 1rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left {
      padding: 0.8rem 1.5rem 0.8rem 1rem;
    }

    // has two children, one icon right and one label
    &:has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 0.8rem 0.8rem 0.8rem 1.5rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-right {
      padding: 0.8rem 0.8rem 0.8rem 1.5rem;
    }

    // has icon left, icon right, and label
    &:has(.ep-button__icon--left):has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 0.8rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left-right {
      padding: 0.8rem;
    }
  }

  // xlarge 46px height
  &--xlarge {
    max-height: 4.6rem;

    .ep-button__label {
      font-size: var(--font-size--default);
    }

    // padding
    // has only one child and it's an icon
    &:has(:only-child):has(.ep-button__icon) {
      padding: 1.2rem 1.2rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-only {
      padding: 1.2rem 1.2rem;
    }

    // has only one child and it's a label
    &:has(:only-child):has(.ep-button__label) {
      padding: 1.2rem 1.8rem;
    }

    // firefox doesn't support :has
    &.ep-button--label-only {
      padding: 1.2rem 1.8rem;
    }

    // has two children, one icon left and one label
    &:has(.ep-button__icon--left):has(.ep-button__label) {
      padding: 1.2rem 1.8rem 1.2rem 1.2rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left {
      padding: 1.2rem 1.8rem 1.2rem 1.2rem;
    }

    // has two children, one icon right and one label
    &:has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 1.2rem 1.2rem 1.2rem 1.8rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-right {
      padding: 1.2rem 1.2rem 1.2rem 1.8rem;
    }

    // has icon left, icon right, and label
    &:has(.ep-button__icon--left):has(.ep-button__icon--right):has(.ep-button__label) {
      padding: 1.2rem 1.8rem;
    }

    // firefox doesn't support :has
    &.ep-button--icon-left-right {
      padding: 1.2rem 1.8rem;
    }
  }
}