@use '../../node_modules/highcharts/css/highcharts.css';

:root {
  --highcharts-color-0: var(--chart-sequence-00);
  --highcharts-color-1: var(--chart-sequence-01);
  --highcharts-color-2: var(--chart-sequence-02);
  --highcharts-color-3: var(--chart-sequence-03);
  --highcharts-color-4: var(--chart-sequence-04);
  --highcharts-color-5: var(--chart-sequence-05);
  --highcharts-color-6: var(--chart-sequence-06);
  --highcharts-color-7: var(--chart-sequence-07);
  --highcharts-color-8: var(--chart-sequence-08);
  --highcharts-color-9: var(--chart-sequence-09);
  --highcharts-color-10: var(--chart-sequence-10);
  --highcharts-color-11: var(--chart-sequence-11);
  --highcharts-color-12: var(--chart-sequence-12);
  --highcharts-color-13: var(--chart-sequence-13);
}

.highcharts-container {
  --highcharts-background-color: transparent;
  --highcharts-font-family: 'Inter var', sans-serif;
  --highcharts-neutral-color-10: var(--border-color);
  --highcharts-neutral-color-80: var(--border-color);
  --highcharts-highlight-color-20: var(--border-color);
  --highcharts-tooltip-background: var(--interface-overlay);
}

.highcharts-container {
  font-family: var(--highcharts-font-family);
  font-size: var(--font-size--default);

  * {
    font-family: var(--highcharts-font-family);
    font-size: var(--font-size--default);
  }

  text {
    fill: var(--text-color);
  }

  .highcharts-halo {
    fill-opacity: 0;
  }

  .highcharts-bar-series rect.highcharts-point {
    stroke: var(--highcharts-background-color);
  }

}

.highcharts-color-0 {
  fill: var(--highcharts-color-0);
  stroke: var(--highcharts-color-0);
}

@for $i from 1 through 17 {
  .highcharts-color-#{$i} {
    fill: var(--highcharts-color-#{$i});
    stroke: var(--highcharts-color-#{$i});
  }
}

.highcharts-data-label-connector {
  fill: none;
}