$colors: (
  var(--chart-sequence-00),
  var(--chart-sequence-01),
  var(--chart-sequence-02),
  var(--chart-sequence-03),
  var(--chart-sequence-04),
  var(--chart-sequence-05),
  var(--chart-sequence-06),
  var(--chart-sequence-07),
  var(--chart-sequence-08),
  var(--chart-sequence-09),
  var(--chart-sequence-10),
  var(--chart-sequence-11),
  var(--chart-sequence-12),
  var(--chart-sequence-13),
  var(--chart-sequence-14),
  var(--chart-sequence-15),
  var(--chart-sequence-16),
  var(--chart-sequence-17)
);
$background-color: transparent;
// .highcharts-grid-line
$neutral-color-10: var(--border-color);
// .highcharts-axis-line
$highlight-color-20: var(--border-color);
$tooltip-background: var(--background-2);
// $tooltip-border: var(--border-color--lighter);
$font-family: 'Inter var', sans-serif;
$title-font-size: var(--font-size--default);
$subtitle-font-size: var(--font-size--default);
$legend-font-size: var(--font-size--default);
$axis-labels-font-size: var(--font-size--default);
@import '../../node_modules/highcharts/css/highcharts.scss';

.highcharts-container {
  font-family: $font-family;
  font-size: var(--font-size--default);

  * {
    font-family: inherit;
    font-size: inherit;
  }

  text {
    fill: var(--text-color);
  }

  .highcharts-halo {
    fill-opacity: 0;
  }

  .highcharts-bar-series rect.highcharts-point {
    stroke: $background-color;
  }

  .highcharts-color-0 {
    // need to figure out how to style this with props
  }
}