.ep-checkbox {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;

  &--checked,
  &--indeterminate {
    color: var(--text-color--loud);
  }

  &--disabled {
    color: var(--text-color--disabled);
    cursor: default;
  }

  input {
    appearance: auto;
    cursor: inherit;
  }

  // label {
  //   color: inherit;
  //   cursor: inherit;
  // }
}