.ep-checkbox-filter {
  --ep-checkbox-filter-gap: 1rem;
  --ep-checkbox-filter-horizontal-gap: var(--space--5);

  display: flex;
  flex-direction: column;
  gap: var(--ep-checkbox-filter-gap);

  &--horizontal {
    flex-direction: row;
    gap: var(--ep-checkbox-filter-horizontal-gap);
  }
}
