.ep-donut-chart {
  --ep-donut-chart-z-index: var(--z-index--overlap);
  --ep-donut-chart-value-z-index: var(--z-index--negative);
  --ep-donut-chart-tooltip-size: 5rem;
  --ep-donut-chart-tooltip-z-index: var(--z-index--tooltip);
  --ep-donut-chart-tooltip-bg-color: var(--interface-overlay);
  --ep-donut-chart-tooltip-border-width: var(--border-width--hairline);
  --ep-donut-chart-tooltip-border-style: solid;
  --ep-donut-chart-tooltip-border-color: var(--border-color--lighter);
  --ep-donut-chart-tooltip-border-radius: var(--border-radius--default);

  position: relative;
  z-index: var(--ep-donut-chart-z-index);

  &__value {
    position: absolute;
    z-index: var(--ep-donut-chart-value-z-index);
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__tooltip {
    position: absolute;
    z-index: var(--ep-donut-chart-tooltip-z-index);
    display: flex;
    width: var(--ep-donut-chart-tooltip-size);
    height: var(--ep-donut-chart-tooltip-size);
    align-items: center;
    justify-content: center;
    border-width: var(--ep-donut-chart-tooltip-border-width);
    border-style: var(--ep-donut-chart-tooltip-border-style);
    border-color: var(--ep-donut-chart-tooltip-border-color);
    border-radius: var(--ep-donut-chart-tooltip-border-radius);
    background: var(--ep-donut-chart-tooltip-bg-color);
  }
}
