.ep-empty-state {
  display: flex;
  width: 100%;
  height: 100%;

  img {
    max-width: 10rem;
  }

  &--column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .ep-empty-state__body {
      text-align: center;
    }

    &.ep-empty-state--justify-left {
      align-items: flex-start;

      .ep-empty-state__body {
        text-align: left;
      }
    }

    &.ep-empty-state--justify-right {
      align-items: flex-end;

      .ep-empty-state__body {
        text-align: right;
      }
    }
  }

  &--row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &.ep-empty-state--justify-left {
      justify-content: flex-start;
    }

    &.ep-empty-state--justify-right {
      justify-content: flex-end;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color--loud);
  }
}