.ep-fieldset {
  min-width: 0;
}

.ep-fieldset__legend {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-color--loud);
}

.ep-fieldset__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}