.ep-header {
  width: 100%;

  &--shadowed {
    box-shadow: var(--box-shadow--sticky);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__left,
    &__center,
    &__right {
      display: flex;
      height: 100%;
      align-items: center;
    }

    &__left {
      justify-content: flex-start;
    }

    &__center {
      justify-content: center;
    }

    &__right {
      justify-content: flex-end;
    }
  }
}