.ep-icon {
  --ep-icon-width: 2em;
  --ep-icon-height: 2em;
  --ep-icon-color: inherit;
  --ep-icon-stroke-width: 1.5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--ep-icon-width);
  height: var(--ep-icon-height);
  color: var(--ep-icon-color);
}