.ep-icon {
  --ep-icon-width: 2rem;
  --ep-icon-height: 100%;
  --ep-icon-color: inherit;
  --ep-icon-stroke-width: 1.5;
  display: inline-flex;
  width: var(--ep-icon-width);
  height: var(--ep-icon-height);
  color: var(--ep-icon-color);
}