input.ep-input {
  width: 100%;
  height: 100%;
  padding: 0 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  caret-color: var(--color--primary);

  &::placeholder {
    color: var(--text-color);
  }

  &:focus {
    border-color: var(--color--primary);
  }

  &.ep-input--has-icon-left {
    padding-left: 3.2rem;
  }
}
