.ep-input-styler__container {
  position: relative;
}

.ep-input-styler__container--disabled {
  color: var(--text-color--disabled);
  pointer-events: none;
}

.ep-input-styler__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:has(.ep-input-styler__inner__icon-left):has(.ep-input-styler__inner__icon-right) {
    display: flex;
    justify-content: space-between;
  }

  &:has(.ep-input-styler__inner__icon-left) {
    justify-content: flex-start;
  }

  &:has(.ep-input-styler__inner__icon-right) {
    justify-content: flex-end;
  }

  &__icon-left,
  &__icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 70%;
    max-height: 2.4rem;

    &--small {
      width: 2.5rem;
    }

    &--large {
      width: 3.6rem;
    }

    &--xlarge {
      width: 4.4rem;
    }
  }

  &__icon-right--clickable {
    pointer-events: auto;
  }
}