input.ep-input {
  --ep-input-font-size: var(--font-size--default);
  --ep-input-text-color: var(--text-color--loud);
  --ep-input-caret-color: var(--primary-color-base);
  --ep-input-border-color: var(--border-color);
  --ep-input-bg-color: var(--interface-foreground);
  --ep-input-border-radius: var(--border-radius);
  --ep-input-placeholder-text-color: var(--text-color--placeholder);
  --ep-input-focus-border-color: var(--primary-color-base);
  --ep-input-disabled-text-color: var(--text-color--disabled);
  width: 100%;
  height: 100%;
  padding: 0 1.4rem;
  caret-color: var(--ep-input-caret-color);
  font-size: var(--ep-input-font-size);
  color: var(--ep-input-text-color);
  background: var(--ep-input-bg-color);
  border: 1px solid var(--ep-input-border-color);
  border-radius: var(--ep-input-border-radius);

  .ep-input-styler:has(.ep-input-styler__icon-left) & {
    padding-left: 2.8rem;
  }

  .ep-input-styler:has(.ep-input-styler__icon-right) & {
    padding-right: 2.8rem;
  }

  &::placeholder {
    color: var(--ep-input-placeholder-text-color);
  }

  &--large {
    padding: 0 1.6rem;

    .ep-input-styler:has(.ep-input-styler__icon-left) & {
      padding-left: 3.6rem;
    }

    .ep-input-styler:has(.ep-input-styler__icon-right) & {
      padding-right: 3.6rem;
    }
  }

  &--xlarge {
    padding: 0 1.8rem;

    .ep-input-styler:has(.ep-input-styler__icon-left) & {
      padding-left: 4.4rem;
    }

    .ep-input-styler:has(.ep-input-styler__icon-right) & {
      padding-right: 4.4rem;
    }
  }

  &--disabled {
    color: var(--ep-input-disabled-text-color);
    pointer-events: none;

    &::placeholder {
      color: var(--ep-input-disabled-text-color);
    }
  }

  .ep-input-styler--error & {
    border-color: var(--error-color);

    &:focus-visible {
      outline-color: var(--error-color);
    }
  }
}