// @block key-value-table
// @root .ep-key-value-table
.ep-key-value-table {
  --ep-key-value-table-border-width: var(--border-width--hairline);
  --ep-key-value-table-border-style: solid;
  --ep-key-value-table-border-color: var(--border-color);
  --ep-key-value-table-cell-padding-block: 0.5rem;
  --ep-key-value-table-key-padding-inline-end: var(--space--5);
  --ep-key-value-table-line-height: var(--text-line-height--normal);
  --ep-key-value-table-heading-margin-block-start: 1.5rem;
  --ep-key-value-table-row-stripe-bg-color: var(--interface-foreground);

  td {
    border-bottom: var(--ep-key-value-table-border-width) var(--ep-key-value-table-border-style) var(--ep-key-value-table-border-color);
    line-height: var(--ep-key-value-table-line-height);
    padding-block: var(--ep-key-value-table-cell-padding-block);
  }

  tr:first-child td {
    border-top: var(--ep-key-value-table-border-width) var(--ep-key-value-table-border-style) var(--ep-key-value-table-border-color);
  }

  td:first-child {
    padding-inline-end: var(--ep-key-value-table-key-padding-inline-end);
    white-space: nowrap;
  }

  &--striped {
    tr:nth-child(even) {
      background-color: var(--ep-key-value-table-row-stripe-bg-color);
    }
  }

  &--align-right {
    td:first-child {
      text-align: right;
    }
  }

  table + h3 {
    margin-block-start: var(--ep-key-value-table-heading-margin-block-start);
  }
}
