.ep-key-value-table {
  --ep-table-row-stripe-color: var(--interface-foreground);

  td {
    padding-block: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.5;
  }

  // first tr td border top
  tr:first-child td {
    border-top: 1px solid var(--border-color);
  }

  td:first-child {
    padding-inline-end: 2rem;
    white-space: nowrap;
  }

  &--striped {
    tr:nth-child(even) {
      background-color: var(--ep-table-row-stripe-color);
    }
  }

  &--align-right {
    td:first-child {
      text-align: right;
    }
  }

  table + h3 {
    margin-top: 1.5rem;
  }
}