.ep-menu {
  padding: 1rem 0.5rem;

  &__section {
    padding: 0.8rem 2.2rem;
    user-select: none;
  }

  &__item {
    position: relative;

    &__sub-menu {
      position: absolute;
      top: -1rem;
      left: calc(100% - 1rem);
      width: 100%;
    }
  }
}