.ep-notifications {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.1rem;
  }
}
