.ep-notification {
  --ep-notification-width: 30rem;
  --ep-notification-strip-width: 0.5rem;
  --ep-notification-strip-bg-color: var(--primary-color-base);
  --ep-notification-border-radius: var(--border-radius--large);

  --ep-notification-body-padding: 1.2rem 0.5rem 1.2rem 2rem;
  --ep-notification-body-gap: 1rem;
  --ep-notification-bg-color: var(--interface-overlay);
  --ep-notification-border-width: var(--border-width--hairline);
  --ep-notification-border-style: solid;
  --ep-notification-border-color: var(--border-color--lighter);

  --ep-notification-message-gap: 0.5rem;
  --ep-notification-text-color: var(--text-color--loud);
  --ep-notification-line-height: var(--text-line-height--tight);
  --ep-notification-timestamp-text-color: var(--text-color--subtle);
  --ep-notification-timestamp-font-size: var(--font-size--tiny);

  display: flex;
  width: var(--ep-notification-width);

  &__color-strip {
    width: var(--ep-notification-strip-width);
    border-radius: var(--ep-notification-border-radius) 0 0 var(--ep-notification-border-radius);
    background: var(--ep-notification-strip-bg-color);
  }

  &__body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: var(--ep-notification-body-padding);
    border-width: var(--ep-notification-border-width);
    border-style: var(--ep-notification-border-style);
    border-color: var(--ep-notification-border-color);
    border-radius: 0 var(--ep-notification-border-radius) var(--ep-notification-border-radius) 0;
    border-left: none;
    background-color: var(--ep-notification-bg-color);
    gap: var(--ep-notification-body-gap);
  }

  &__message {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: var(--ep-notification-message-gap);

    &__text {
      color: var(--ep-notification-text-color);
      line-height: var(--ep-notification-line-height);
    }

    &__timestamp {
      color: var(--ep-notification-timestamp-text-color);
      font-size: var(--ep-notification-timestamp-font-size);
    }
  }
}

.notification-enter-active,
.notification-leave-active {
  transition: transform var(--duration--slow);
}

.notification-enter,
.notification-leave-to {
  transform: translateY(-200%);
}
