.ep-radio {
  // Box
  --ep-radio-size: 1.4rem;
  --ep-radio-gap: 1rem;

  // Surface
  --ep-radio-checked-bg-color: var(--primary-color-base);
  --ep-radio-unchecked-bg-color: var(--interface-overlay);
  --ep-radio-disabled-bg-color: transparent;
  --ep-radio-checked-disabled-bg-color: var(--text-color--disabled);

  // Border
  --ep-radio-border-width: var(--border-width--hairline);
  --ep-radio-border-radius: var(--border-radius--full);
  --ep-radio-checked-border-color: var(--primary-color-300);
  --ep-radio-unchecked-border-color: var(--border-color--lighter);
  --ep-radio-disabled-border-color: var(--border-color--disabled);

  // Text
  --ep-radio-text-color: inherit;
  --ep-radio-checked-text-color: var(--text-color--loud);
  --ep-radio-disabled-text-color: var(--text-color--disabled);

  position: relative;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  color: var(--ep-radio-text-color);
  cursor: pointer;
  gap: var(--ep-radio-gap);

  &__dot {
    width: var(--ep-radio-size);
    height: var(--ep-radio-size);
    border: var(--ep-radio-border-width) solid var(--ep-radio-unchecked-border-color);
    border-radius: var(--ep-radio-border-radius);
    background-color: var(--ep-radio-unchecked-bg-color);
  }

  &--checked {
    color: var(--ep-radio-checked-text-color);

    .ep-radio__dot {
      border-color: var(--ep-radio-checked-border-color);
      background-color: var(--ep-radio-checked-bg-color);
    }
  }

  &--disabled {
    color: var(--ep-radio-disabled-text-color);
    pointer-events: none;

    .ep-radio__dot {
      border-color: var(--ep-radio-disabled-border-color);
      background-color: var(--ep-radio-disabled-bg-color);
    }
  }

  &:is(.ep-radio--checked).ep-radio--disabled {
    .ep-radio__dot {
      background-color: var(--ep-radio-checked-disabled-bg-color);
    }
  }
}

.ep-radio input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
