:root {
  --ep-radio-checked-bg-color: var(--primary-color-base);
  --ep-radio-checked-border-color: var(--primary-color-300);
  --ep-radio-unchecked-bg-color: var(--interface-overlay);
  --ep-radio-unchecked-border-color: var(--border-color--lighter);
  --ep-radio-disabled-bg-color: transparent;
  --ep-radio-disabled-border-color: var(--border-color--disabled);
}

.ep-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  cursor: pointer;

  &__dot {
    width: 14px;
    height: 14px;
    background-color: var(--ep-radio-unchecked-bg-color);
    border: 1px solid var(--ep-radio-unchecked-border-color);
    border-radius: 50%;
  }

  &--checked {
    color: var(--text-color--loud);

    .ep-radio__dot {
      background-color: var(--ep-radio-checked-bg-color);
      border-color: var(--ep-radio-checked-border-color);
    }
  }

  &--disabled {
    color: var(--text-color--disabled);
    cursor: default;

    .ep-radio__dot {
      background-color: var(--ep-radio-disabled-bg-color);
      border-color: var(--ep-radio-disabled-border-color);
    }
  }
}

.ep-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}