.ep-resizable {
  --ep-resizable-width: 100%;
  --ep-resizable-height: 100%;
  --ep-resizable-flex-direction: column;

  // The drag handle straddling two panes.
  --ep-resizable-handle-size: 0.5rem;
  --ep-resizable-handle-border-width: var(--border-width--hairline);
  --ep-resizable-handle-border-style: solid;
  --ep-resizable-handle-border-color: var(--border-color);
  --ep-resizable-handle-bg-color: var(--interface-foreground);
  --ep-resizable-handle-hover-border-color: var(--primary-color-300);
  --ep-resizable-handle-hover-bg-color: var(--primary-color-300);

  display: flex;
  width: var(--ep-resizable-width);
  height: var(--ep-resizable-height);
  flex-direction: var(--ep-resizable-flex-direction);
  user-select: none;

  &--row {
    --ep-resizable-flex-direction: row;
  }
}

.ep-resizable__resizable-pane {
  position: relative;
  display: flex;
  overflow: hidden;
}

.ep-resizable__content-pane {
  flex: 1;
}

.ep-resizable__drag-handle {
  position: absolute;
  border-width: 0;
  border-style: var(--ep-resizable-handle-border-style);
  border-color: var(--ep-resizable-handle-border-color);
  background: var(--ep-resizable-handle-bg-color);

  &:hover {
    border-color: var(--ep-resizable-handle-hover-border-color);
    background: var(--ep-resizable-handle-hover-bg-color);
  }

  &--right,
  &--left {
    top: 0;
    bottom: 0;
    width: var(--ep-resizable-handle-size);
    border-right-width: var(--ep-resizable-handle-border-width);
    border-left-width: var(--ep-resizable-handle-border-width);
    cursor: ew-resize;
  }

  &--right {
    right: 0;
  }

  &--left {
    left: 0;
  }

  &--top,
  &--bottom {
    right: 0;
    left: 0;
    height: var(--ep-resizable-handle-size);
    border-top-width: var(--ep-resizable-handle-border-width);
    border-bottom-width: var(--ep-resizable-handle-border-width);
    cursor: ns-resize;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }
}
