.ep-status-indicator {
  position: relative;
  padding-left: 1.4rem;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    top: calc(50% - 0.4rem);
    left: 0;
    border-radius: 50%;
  }

  &--success::before {
    background: var(--green-300);
  }

  &--warning::before {
    background: var(--bg-color--alert-medium);
  }

  &--error::before {
    background: var(--bg-color--alert-error);
  }

  &--info::before {
    background: var(--bg-color--alert-low);
  }
}