.ep-status-indicator {
  --ep-status-indicator-dot-bg: var(--text-color);
  --ep-status-indicator-dot-border: var(--text-color);
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  &__dot {
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--ep-status-indicator-dot-bg);
    border: 0.1rem solid var(--ep-status-indicator-dot-border);
    border-radius: 50%;
    box-sizing: content-box;
  }
}