.ep-table thead th div.ep-table-sortable-header {
  --ep-table-sortable-header-active-text-color: var(--primary-color-200);
  justify-content: space-between;
  padding-right: 3rem;
  white-space: nowrap;
  cursor: pointer;

  &--active {
    color: var(--ep-table-sortable-header-active-text-color);
  }

  .ep-icon {
    --ep-icon-height: 1.7rem;
    --ep-icon-stroke-width: 2;
    position: absolute;
    right: 0;
  }
}