:root {
  --ep-table-header-bg-color: var(--interface-surface);
  --ep-table-border-color: var(--border-color);
  --ep-table-width: auto;
  --ep-table-row-stripe-color: var(--interface-foreground);
  --ep-table-row-hover-bg-color: hsl(var(--gray-450));
  --ep-table-cell-vertical-align: middle;
  --ep-table-cell-white-space: normal;
}

.ep-table-container {
  overflow: auto;
}

.ep-table {
  width: var(--ep-table-width);

  thead {
    font-variation-settings: 'wght' 600;
    user-select: none;
    color: var(--text-color--loud);

    th {
      text-align: left;
      background: var(--ep-table-header-bg-color);

      div {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1.4rem;
        border-bottom: 1px solid var(--ep-table-border-color);

        span.label {
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1;
        }

        // .ep-icon {
        //   position: absolute;
        //   right: 0;
        //   // margin-left: 10px;
        //   visibility: hidden;
        // }
      }
    }
  }

  tbody {
    tr {
      position: relative;

      &:first-child {
        border-top: 0;
      }

      td {
        min-width: 1px;
        padding: 1.4rem;
        vertical-align: var(--ep-table-cell-vertical-align);
        white-space: var(--ep-table-cell-white-space);
      }
    }
  }

  &--bordered {
    tbody tr {
      border: 1px solid var(--ep-table-border-color);
      border-right: 0;
      border-left: 0;
    }
  }

  &--compact {

    thead tr th div,
    tbody tr td {
      padding: 0.8rem 1.2rem;
    }
  }

  &--layout-fixed {
    table-layout: fixed;
  }

  &--selectable {
    tbody {
      tr td {
        user-select: none;
      }

      tr:not(.ep-table-row--selected):hover {
        cursor: pointer;

        td {
          background: var(--ep-table-row-hover-bg-color);
        }
      }

      tr.ep-table-row--selected {
        td {
          background: var(--primary-color-base);
          color: var(--white);
        }
      }
    }
  }

  // &--sortable {
  //   thead th {
  //     &:hover {
  //       color: var(--text-color--link);
  //       cursor: pointer;
  //     }
  //     &.active {
  //       color: var(--text-color--link);
  //       .ep-icon {
  //         visibility: visible;
  //       }
  //     }
  //   }
  // }
  &--sticky {
    thead {
      th {
        position: sticky;
        top: 0;
        z-index: var(--z-index--sticky);
      }
    }
  }

  &--striped {
    tbody tr:nth-child(even) {
      background-color: var(--ep-table-row-stripe-color);
    }
  }
}