  .ep-table-pagination {
    --ep-table-pagination-padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--ep-table-pagination-padding);
    user-select: none;
  }