.ep-tooltip-wrapper {
  --ep-tooltip-bg-color: var(--interface-overlay);
  --ep-tooltip-text-color: var(--text-color);
  position: relative;
  display: inline-block;
}

.ep-tooltip {
  position: absolute;
  background-color: var(--ep-tooltip-bg-color);
  color: var(--ep-tooltip-text-color);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: var(--z-index--tooltip);

  &.ep-tooltip--visible {
    visibility: visible;
    opacity: 1;
  }

  &.ep-tooltip--top-left {
    bottom: 100%;
    left: 0;
    transform: translateY(-5px);
  }

  &.ep-tooltip--top-center {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
  }

  &.ep-tooltip--top-right {
    bottom: 100%;
    right: 0;
    transform: translateY(-5px);
  }

  &.ep-tooltip--right-top {
    top: 0;
    left: 100%;
    transform: translateX(5px);
  }

  &.ep-tooltip--right-center {
    top: 50%;
    left: 100%;
    transform: translateX(5px) translateY(-50%);
  }

  &.ep-tooltip--right-bottom {
    bottom: 0;
    left: 100%;
    transform: translateX(5px);
  }

  &.ep-tooltip--bottom-left {
    top: 100%;
    left: 0;
    transform: translateY(5px);
  }

  &.ep-tooltip--bottom-center {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
  }

  &.ep-tooltip--bottom-right {
    top: 100%;
    right: 0;
    transform: translateY(5px);
  }

  &.ep-tooltip--left-top {
    top: 0;
    right: 100%;
    transform: translateX(-5px);
  }

  &.ep-tooltip--left-center {
    top: 50%;
    right: 100%;
    transform: translateX(-5px) translateY(-50%);
  }

  &.ep-tooltip--left-bottom {
    bottom: 0;
    right: 100%;
    transform: translateX(-5px);
  }
}