  .ep-tooltip-wrapper {
    --ep-tooltip-bg-color: var(--interface-overlay);
    --ep-tooltip-text-color: var(--text-color);
    position: relative;
    display: inline-block;
  }

  .ep-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    background-color: var(--ep-tooltip-bg-color);
    color: var(--ep-tooltip-text-color);
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: var(--z-index--tooltip);

    &.ep-tooltip--visible {
      visibility: visible;
      opacity: 1;
    }
  }