$modifications: (
  color-up-5: +5,
  color-up-10: +10,
  color-up-15: +15,
  color: 0,
  color-down-5: -5,
  color-down-10: -10,
  color-down-15: -15,
);

@function generate-hsl($hue, $saturation, $lightness) {
  @return hsl($hue, $saturation, $lightness);
}

@mixin generate-color-variants($base-hue, $base-saturation, $base-lightness) {

  // tints and shades for all modifications
  @each $name, $offset in $modifications {
    $adjusted-hue: $base-hue + $offset;

    @for $i from 1 through 5 {
      $tint-lightness: $base-lightness + (6 - $i) * 5%;
      $shade-lightness: $base-lightness - $i * 7%;

      @if $i ==1 {
        --primary-#{$name}-base: #{generate-hsl($adjusted-hue, $base-saturation, $base-lightness)};
      }

      --primary-#{$name}-#{$i}00: #{generate-hsl($adjusted-hue, $base-saturation, $tint-lightness)};
      --primary-#{$name}-#{$i + 5}00: #{generate-hsl($adjusted-hue, $base-saturation, $shade-lightness)};
    }
  }
}