@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rye&family=Stint+Ultra+Condensed&family=Stint+Ultra+Expanded&display=swap');

.forms-sandbox-container {
  max-width: 100%;
  width: 100%;

  .ep-button-var--primary {
    --red: hsl(0, 50%, 50%);
    --orange: hsl(15, 50%, 50%);
    --ep-button-primary-bg: linear-gradient(140deg, var(--red) 30%, var(--orange) 70%);
    // --ep-button-primary-bg: var(--primary-color-base);
    --ep-button-primary-border: var(--red);
    --ep-button-primary-text: white;
    --ep-button-primary-hover-bg: var(--red);
    // --ep-button-primary-hover-bg: hsl(from var(--ep-button-primary-bg) h s calc(l - 5));
    --ep-button-primary-hover-border: hsl(from var(--ep-button-primary-border) h s calc(l - 5));
    --ep-button-primary-hover-text: white;
    --ep-button-primary-active-bg: hsl(from var(--red) h s calc(l - 10));
    // --ep-button-primary-active-bg: hsl(from var(--ep-button-primary-bg) h s calc(l - 10));
    --ep-button-primary-active-border: hsl(from var(--ep-button-primary-border) h s calc(l - 10));
    --ep-button-primary-active-text: white;
  }

  .forms-sandbox-header {
    width: 100%;
  }

  .forms-sandbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    align-items: start;
  }

  .forms-sandbox-column {
    min-width: 0;
  }

  .forms-sandbox-summary {
    position: sticky;
    top: 2rem;
  }

  .ep-fieldset__legend {
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed hsl(25 38% 49% / 0.3);
    ;
    margin-bottom: 2rem;
    color: hsl(25, 38%, 49%);
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }

  .stint-ultra-condensed-regular {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }

  .ep-header {
    --ep-header-left-flex: 2;
    --ep-header-right-flex: 1;
    --ep-header-container-border-style: dashed;
    --ep-header-container-border-color: hsl(54 42% 62% / 0.3);

    h1 {
      color: hsl(54, 42%, 62%);
      font-family: "Rye", serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  .ep-checkbox__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}