@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: 'Inter var', sans-serif;
}

.monospace {
  font-family: 'Fira Code', monospace;
  font-variation-settings: 'wght' 500;
}
