:root {
  font-size: 62.5%; // (62.5/100) * 16px = 10px
  --font-size--tiny: 1rem; // 10px
  --font-size--small: 1.2rem; // 12px
  --font-size--default: 1.3rem; // 13px
  --font-size--body: 1.5rem; // 15px
  --font-size--large: 2rem; // 20px
  --font-size--jumbo: 2.6rem; // 26px
}

.font-size--tiny {
  font-size: var(--font-size--tiny);
  font-variation-settings: 'wght' 600;
}

.font-size--small,
small {
  font-size: var(--font-size--small);
  font-variation-settings: 'wght' 540;
}

.font-size--default {
  font-size: var(--font-size--default);
}

.font-size--body {
  font-size: var(--font-size--body);
  font-variation-settings: 'wght' 500;
}

.font-size--large,
.copy-block > h2 {
  font-size: var(--font-size--large);
  font-variation-settings: 'wght' 400;
}

.font-size--jumbo,
.copy-block > h1 {
  font-size: var(--font-size--jumbo);
  font-variation-settings: 'wght' 300;
}
