html {

  // font-size: 100%; // In most browsers, this defaults to 16 pixels
  // can use media queries to change base font size,
  // which will adjust all other font sizes
  @media (min-width: 768px) {
    //font-size: 112.5%; // = 18 pixels in most browsers
  }
}

body {
  font-size: var(--font-size--default);
  font-variation-settings: 'wght' 500;
  // Stylistic set 2: Disambiguation
  // font-feature-settings: 'ss02';
  color: var(--text-color);
}

// Font families
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

.monospace {
  font-family: 'Fira Code', monospace;
  font-variation-settings: 'wght' 500;
}

// Sizes
:root {
  font-family: 'Inter var', sans-serif;
  font-size: 62.5%; // (62.5/100) * 16px = 10px
  --font-size--tiny: 1rem; // 10px
  --font-size--small: 1.2rem; // 12px
  --font-size--default: 1.3rem; // 13px
  --font-size--body: 1.5rem; // 15px
  --font-size--large: 2rem; // 20px
  --font-size--jumbo: 2.6rem; // 26px
}

.font-size--tiny {
  font-size: var(--font-size--tiny);
  font-variation-settings: 'wght' 600;
}

.font-size--small,
small {
  font-size: var(--font-size--small);
  font-variation-settings: 'wght' 540;
}

.font-size--default {
  font-size: var(--font-size--default);
}

.font-size--body {
  font-size: var(--font-size--body);
  font-variation-settings: 'wght' 500;
}

.font-size--large,
.copy-block > h2 {
  font-size: var(--font-size--large);
  font-variation-settings: 'wght' 400;
}

.font-size--jumbo,
.copy-block > h1 {
  font-size: var(--font-size--jumbo);
  font-variation-settings: 'wght' 300;
}

.copy-block {
  & > * + * {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // margin-top: 3rem;
  }

  p {
    font-size: var(--font-size--body);
    line-height: 2.4rem;
    max-width: 60rem;
  }

  a:not(.ep-button) {
    color: var(--text-color--link);
  }

  @media (hover: hover) and (pointer: fine) {
    a:hover:not(.ep-button) {
      color: var(--text-color--link);
      cursor: pointer;
    }
  }
}

:root {
  --text-line-height--tight: 1.6rem;
  --text-line-height--normal: 1.8rem;
  --text-line-height--loose: 2rem;
}

// Transformations
.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.tabular-numbers {
  font-feature-settings: 'tnum';
}

.capitalize {
  text-transform: capitalize;
}

.text--link {
  color: var(--text-color--link);

  &:hover {
    color: var(--text-color--link);
    text-decoration: underline;
    cursor: pointer;
  }
}

.text--subtle {
  color: var(--text-color--subtle);
}

// text selection color
::selection {
  background: var(--text-selection);
  color: var(--text-black);
}

.text--copyable {
  position: relative;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--text-color--highlight);
    outline: 2px solid var(--text-color--highlight);

    &::before {
      content: 'Click to copy';
      position: absolute;
      bottom: calc(100% + 5px);
      margin-left: -2px;
      background-color: var(--background-4);
      border: 1px solid var(--border-color--lighter);
      color: var(--text-color);
      font-size: var(--font-size--tiny);
      text-align: center;
      pointer-events: none;
      white-space: nowrap;
      padding: 5px;
      border-radius: 3px;
      z-index: var(--z-index--tooltip);
      box-shadow: var(--drop-shadow);
    }
  }
}

.text-align--right {
  text-align: right;
}

.text-align--center {
  text-align: center;
}