:root {
  --text-line-height--tight: 1.3;
  --text-line-height--normal: 1.5;
  --text-line-height--loose: 1.7;
}

.line-height-tight {
  line-height: var(--text-line-height--tight);
}

.line-height-normal {
  line-height: var(--text-line-height--normal);
}

.line-height-loose {
  line-height: var(--text-line-height--loose);
}