// Transformations
.text--capitalize {
  text-transform: capitalize;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.tabular-numbers {
  font-feature-settings: 'tnum';
}