@use '../mixins/_mixins' as *;

.text--link {
  color: var(--text-color--link);

  @include hover {
    &:hover {
      color: var(--text-color--link);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}