@use '../mixins/_mixins' as *;

.text--overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::selection {
  background: var(--text-selection-bg-color);
  color: var(--text-selection-text-color);
}