body {
  color: var(--text-color);
  font-size: var(--font-size--default);
  font-variation-settings: var(--font-weight--default);

  @media (prefers-contrast: more) {
    color: var(--text-color--loud);
  }
}