@use '../mixins/mixins';

.text--link {
  color: var(--text-color--link);

  @include mixins.hover {
    &:hover {
      color: var(--text-color--link);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
