:root {
  --text--black: hsl(var(--gray-410));
  --text--white: hsl(var(--gray-50));
}

.text-color--loud {
  color: var(--text-color--loud);
}

.text--subtle,
.text-color--subtle {
  color: var(--text-color--subtle);
}