//neutral colors
$color-black: #202427;
$color-dark-gray: #5C6670;
$color-gray: #8F99A3;
$color-outline-gray: #C7CCD1;
$color-hover-gray: #EDF0F3;
$color-white: #FFFFFF;
//main colors
$color-hover-blue: #0A54C2;
$color-blue: #2578F4;
$color-light-blue: #92BBFA;
$color-lighter-blue: #E1EDFF;
//additional colors
$color-dark-orange: #BD8400;
$color-orange: #FCB100;
$color-dark-red: #D5260B;
$color-red: #F5563D;
$color-dark-green: #218321;
$color-green: #4DCB4D;
$color-toxic: #E8F443;
$color-purple: #7835FF;
$color-ultraviolet: #C41CFD;
$color-pinkish: #F073B1;
$color-azure: #0A85C2;

$color-transparent: transparent; 

$token-colors: (
  "black": $color-black,
  "dark-gray": $color-dark-gray,
  "gray": $color-gray,
  "outline-gray": $color-outline-gray,
  "hover-gray": $color-hover-gray,
  "white": $color-white,
  "hover-blue": $color-hover-blue,
  "blue": $color-blue,
  "light-blue": $color-light-blue,
  "lighter-blue": $color-lighter-blue,
  "dark-orange": $color-dark-orange,
  "orange": $color-orange,
  "dark-red": $color-dark-red,
  "red": $color-red,
  "dark-green": $color-dark-green,
  "green": $color-green,
  "toxic": $color-toxic,
  "purple": $color-purple,
  "ultraviolet": $color-ultraviolet,
  "pinkish": $color-pinkish,
  "azure": $color-azure,
  "transparent": $color-transparent,
);